@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: theme("colors.red.50");
    --cText: theme("colors.pink.800");
}

body {
    color: var(--cText);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}
